#visor {
    width: 65%;
    height: 700px;
    border: 2px solid #D12421;
    margin-bottom: 20px;
    margin: 0 auto 20px auto;
    /* Importante: Para que los botones se posicionen respecto a este cuadro */
    position: relative; 
}

#informacion {
    max-width: 600px;
    margin: 40px auto 20px auto;
    background: #fff;
    padding: 20px;
    border-left: 6px solid #D12421;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

#informacion h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #D12421;
    margin-bottom: 10px;
}

#informacion p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #646567;
}

/* --- NUEVOS ESTILOS PARA LOS BOTONES DE ZOOM --- */

.controles-zoom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegura que estén sobre el modelo 3D */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.controles-zoom button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid #D12421; /* Usando tu color corporativo */
    border-radius: 50%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #D12421;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px; /* Pequeño ajuste para centrar el texto verticalmente */
}

.controles-zoom button:hover {
    background-color: #D12421;
    color: white;
    transform: scale(1.1);
}

.controles-zoom button:active {
    transform: scale(0.95);
}
